{% extends "@KindergartenWeb/Default/index.html.twig" %}

{% block title %}KindergartenWebBundle:Teacher:default{% endblock %}

{% block content %}
    <div class="text-right">
        <a class="btn btn-primary btn-sm" href="{{ path('kindergartenweb_backend_addclassroom') }}">Dodaj klase</a>
    </div>
    <br>
    {% for classroom in classrooms %}
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                Klasa {{ classroom.name }} - Wychowawca: {{ classroom.teacher.fullname }}
                <a class="btn btn-danger btn-xs pull-right"
                   href="{{ path('kindergartenweb_backend_removeclassroom', {'classroomId': classroom.id}) }}">Usuń klasę</a>

                <a class="btn btn-primary btn-xs pull-right" style="margin-right:10px;"
                   href="{{ path('kindergartenweb_backend_addchild', {'classroomId': classroom.id}) }}">Dodaj
                    dziecko</a>

            </div>

            <!-- Table -->
            <table class="table">
                <tr>
                    <th style="width: 30%">Imie i nazwisko</th>
                    <th>Data urodzenia</th>
                </tr>
                {% for child in classroom.children %}
                    <tr>
                        <td>{{ child.fullname }}</td>
                        <td>{{ child.birthdate | date("Y-m-d") }}</td>
                        <td class="text-right"><a href="{{ path('kindergartenweb_backend_deletechild', {'childId': child.id}) }}" class="pull-right btn btn-xs btn-danger">Usuń</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}

{% endblock %}
