{% extends "@KindergartenWeb/Default/index.html.twig" %}

{% block title %}KindergartenWebBundle:Teacher:default{% endblock %}

{% block content %}
    <div>
        <a class="btn btn-primary btn-sm" href="{{ path('kindergartenweb_backend_newmessage') }}">Nowa wiadomość</a>
    </div>
    <br>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            Twoje odebrane wiadomości
        </div>

        <!-- Table -->
        <table class="table">
            <tr>
                <th style="width: 40%">Tytuł</th>
                <th style="width: 20%">Nadawca</th>
                <th>Data</th>
                <th class="text-right"></th>
            </tr>
            {% for message in messagesReceived %}
                <tr>
                    <td style="{% if not message.received %}font-weight: bold; {% endif %}"><a href="{{ path('kindergartenweb_backend_showmessage', {'messageId': message.id}) }}">{{ message.title }}</a></td>
                    <td>{{ message.sender.fullname }}</td>
                    <td>{{ message.datetime | date("Y-m-d g:ia") }}</td>
                    <td class="text-right"><a href="{{ path('kindergartenweb_backend_deletemessage', {'messageId': message.id}) }}" class="pull-right btn btn-xs btn-danger">Usuń</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            Twoje wysłane wiadomości
        </div>

        <!-- Table -->
        <table class="table">
            <tr>
                <th style="width: 40%">Tytuł</th>
                <th style="width: 20%">Nadawca</th>
                <th>Data</th>
            </tr>
            {% for message in messagesSent %}
                <tr>
                    <td><a href="{{ path('kindergartenweb_backend_showmessage', {'messageId': message.id}) }}">{{ message.title }}</a></td>
                    <td>{{ message.sender.fullname }}</td>
                    <td>{{ message.datetime | date("Y-m-d g:ia") }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
