{% extends "@KindergartenWeb/Default/index.html.twig" %}

{% block title %}KindergartenWebBundle:Teacher:default{% endblock %}

{% block content %}
    <div class="row">
        <a href="{{ path('kindergartenweb_backend_messages') }}" class="btn btn-default pull-right">Wróć do wiadomości</a>

        <div class="col-md-8 col-md-offset-2">
            <h3>{{ message.title }}</h3>
            <h4><small>Wysłano: {{ message.datetime | date("Y-m-d g:ia") }} | Wiadomość od {{ message.sender.fullname }}</small></h4>
            <hr>
            <p>{{ message.content }}</p>
            <hr>
            {% if message.sender.username != app.user.username %}
                <a href="{{ path('kindergartenweb_backend_newmessage', {'receiverUsername': message.sender }) }}" class="btn btn-primary">Odpowiedz</a>
            {% endif %}
            <a href="{{ path('kindergartenweb_backend_deletemessage', {'messageId': message.id}) }}" class="btn btn-danger">Usuń</a>

        </div>
    </div>



{% endblock %}
